/* Container */
.login-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Video */
.login-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

/* Overlay */
.video-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

/* Card */
.login-content {
  background: rgba(255, 255, 255, 0.88);
  padding: 30px;
  width: 350px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

/* Logo */
.logo-container {
  text-align: center;
}

.login-logo {
  width: 60px;
}

.logo-heading {
  margin-top: 10px;
  font-size: 22px;
  color: #f7931e;
}

/* Headings */
.login-heading {
  text-align: center;
  margin: 20px 0;
}

/* Inputs */
.input-container {
  margin-bottom: 15px;
  background-color: transparent;
}

.input-label {
  font-size: 12px;
  font-weight: bold;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

/* Password */
.password-field {
  display: flex;
  align-items: center;
}

.password-toggle {
  background: none;
  border: none;
  margin-left: -35px;
  cursor: pointer;
  font-size: 18px;
}

/* Button */
.login-button {
  width: 100%;
  padding: 10px;
  background: #f7931e;
  border: none;
  color: #fff;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}

/* Error */
.error-message {
  color: red;
  font-size: 14px;
  text-align: center;
}
